# Build results
bin/
obj/
Debug/
Release/


# Ignoră fișiere temporare și de index
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncb
*.cache
*.dbmdl
*.pdb
*.mdb
*.visdx


# Ignoră fișiere Copilot
.copilot/
*.copilot*

# Rider / VS Code
.idea/
.vscode/
.vs/
# Ignoră fișiere de configurare specifice IDE-ului
*.sln.ide   
*.sln.ide.*
